* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fira Sans', sans-serif;
    text-decoration: none;
}

body    {
    height: 1000px;
}

/* nav style */
nav {
    background-color: rgb(255, 0, 0);
    position: sticky;
    top: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px 30px;
    color: #fff;
}

nav ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 30px;
}

li a {
    color: #fff;
    cursor: pointer;
}

li a:hover  {
    border-bottom: 2px #88ff1f solid;
    color: #88ff1f;
    transition: 0.2s;
}


nav a img {
    display: inline-block;
    /* position: relative;
    left: -800px; */

}

nav .nav-sosmed {
    display: flex;
    gap: 20px;
    justify-self: start;
}